.testimonial-title {
    margin: 80px 0 20px 0;
    font-size: 2.6rem;
    padding: 0 30px;
}
.testimonial-desp-cont {
    display: grid;
    width: 100%;
    padding: 0 30px;
    grid-template-columns: 3fr 1fr 1fr;
}
.testimonial-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.move-button{
    background-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
    border: none;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.testimonial-box-cont {
    margin: 25px 30px;
    overflow-x: hidden;
}
.vertical-cont{
    display: flex;
    height: 400px;
    align-items: center;
    /* margin-left: -1050px; */
}
.testimonial-box {
    margin-right: 50px;
    min-width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px -4px rgb(84, 82, 82);
    outline: 0.5px solid rgb(236, 230, 230);
}